
body {
	width:100%;
	padding-top: 40px;
	background-color: #000000;
	color:#eeeeee; 
	font-weight: 900;
	font-family:'Century Gothic', Calibri, Helvetica, sans-serif;
	/* background: url(../images/fullbg.jpg?v=2) #000000 no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  */
}
/* 
.footer-image-container {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: auto;
  }
*/
  .footer-image {
		position: fixed;
		width:100%;
		background-color: #000000;
		bottom: 0;z-index: -1;
		background: url(../images/footer.png) no-repeat;
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;
		height: 111px;
  } 

td{word-wrap: break-word;}
/* table.dataTable tbody th,
table.dataTable tbody td {
 white-space: nowrap;
}
td,th{
 -webkit-box-sizing: content-box; 
 -moz-box-sizing: content-box;  
 -sizing: content-box;
}
 */
.toolbar,.toolbar2{
  color:#e8af22;
  text-transform: uppercase;
  text-align:center;
  background: -webkit-linear-gradient(90deg, #e8af22 0%, #ffff4c 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.table th{font-size: 18px;}
.table td{font-size: 14px;}
.toolbar2 {
    margin-top: 8px;
    /* position: absolute; */
    display: inline-block;
    text-align: center;
    width: 95%;
}

#Page_Summary_1{padding-top:50px;}

#lnkSelected{
  color: #e8af22;
  font-size:25px;
  /*background: -webkit-linear-gradient(180deg, #000000 0%, #8c4600 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */
}

input::-webkit-input-placeholder {
color: #bbbbbb !important;
font-family: monospace;font-size: 0.8em;font-weight:normal;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #ffff73 !important;  
font-family: monospace;font-size: 0.8em;font-weight:normal;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #ffff73 !important;  
font-family: monospace;font-size: 0.8em;font-weight:normal;
}
 
input:-ms-input-placeholder {  
color: #ffff73 !important;  
font-family: monospace;font-size: 0.8em;font-weight:normal;
}
/* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
/* input::placeholder-shown { 
  color: #111111;
}
*/
 .gradiant-txt{
  color: #ad902d;
  background: -webkit-linear-gradient(90deg, #e8af22 0%, #ffff4c 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.control-label {
 font-size: 18px;
}

.bootstrap-growl .close {
    float: right;
    font-size: 26px;
    /* font-weight: bold; */
    /* line-height: 1; */
    color: #f90404;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=90);
    opacity: 0.991;
    top: 0;
    position: absolute;
    right: 0;
    /* padding: 0; */
    /* margin: 0; */
    /* display: inline-block; */
}
 
.error-block,.error-block-big{
 color:#ff4c4d;
 font-size:0.9em;
 font-weight:normal;
}
.error-block-big{
font-size:1.3em;	
}

/*
Add this if this is not custome scroll*/
.dataTables_scrollHead,
.iifa-gradiant,
th {
  background: -webkit-linear-gradient(#e8af22,#ffe782,#e8af22); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(#e8af22, #ffe782,#e8af22); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(#e8af22, #ffe782,#e8af22); /* For Firefox 3.6 to 15 */
 background: linear-gradient(#e8af22, #ffe782,#e8af22); /* Standard syntax (must be last) */
 
  border-right:1px solid #e8af22;
  color: #000000 !important;
  -webkit-font-smoothing: antialiased;
}
th{font-weight:600; font-size:16px; text-align:center; 
	/* text-transform: uppercase !important; */
	}
td{font-weight: 200;font-size: 16px;  border:1px solid #a98827; 
	/* text-transform: uppercase !important; */
	}

.iifa-gradiant:hover{
 color:#ffffff !important;
}
.rowSelected{
	background-color:#333333;
	background:#333333;
	
background: -webkit-linear-gradient(#333333,#555555,#333333); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#333333, #555555,#333333); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#333333, #555555,#333333); /* For Firefox 3.6 to 15 */
background: linear-gradient(#333333, #555555,#333333); /* Standard syntax (must be last) */
	
}

.rowSelected2{
background: -webkit-linear-gradient(#ffe782,#e8af22,#ffe782); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#ffe782, #e8af22,#ffe782); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#ffe782, #e8af22,#ffe782); /* For Firefox 3.6 to 15 */
background: linear-gradient(#ffe782, #e8af22,#ffe782); /* Standard syntax (must be last) */
} 

/* .navbar-custom {
 height: 30px;
 background: #e8af22;
 background-image: -moz-linear-gradient(90deg, #e8af22 0%, #ffff4c 100%);
 background-image: -webkit-linear-gradient(90deg, #e8af22 0%, #ffff4c 100%);
 background-image: -ms-linear-gradient(90deg, #e8af22 0%, #ffff4c 100%);
}
 */
.navbar-custom {
	height: 30px;
	border-color: #e8af22;
	background-color: #e8af22;
	/*
	background: url(images/navbg.jpg);  
	*/
	background: -webkit-linear-gradient(#e8af22,#ffe782,#e8af22);
	background: -o-linear-gradient(#e8af22, #ffe782,#e8af22);
	background: -moz-linear-gradient(#e8af22, #ffe782,#e8af22);
	background: linear-gradient(#e8af22, #ffe782,#e8af22);
	
  }
.navbar-custom .navbar-brand { color: #000000;}.navbar-custom .navbar-brand:hover,.navbar-custom .navbar-brand:focus { color: #b38600; background-color: transparent;}.navbar-custom .navbar-text { color: #ffffff;}/* .navbar-custom .navbar-nav > li:last-child > a { border-right: 1px solid #ffc105;}.navbar-custom .navbar-nav > li > a { color: #ffffff; border-left: 1px solid #ffc105;}*/.navbar-custom .navbar-nav > li > a:hover,.navbar-custom .navbar-nav > li > a:focus { color: #ffffff; background-color: transparent;}.navbar-custom .navbar-nav > .active > a,.navbar-custom .navbar-nav > .active > a:hover,.navbar-custom .navbar-nav > .active > a:focus { color: #ffffff;padding-bottom:10px;}.navbar-custom .navbar-nav > .disabled > a,.navbar-custom .navbar-nav > .disabled > a:hover,.navbar-custom .navbar-nav > .disabled > a:focus { color: #cccccc; background-color: transparent;}.navbar-custom .navbar-toggle { border-color: #dddddd;}.navbar-custom .navbar-toggle:hover,.navbar-custom .navbar-toggle:focus { background-color: #dddddd;}.navbar-custom .navbar-toggle .icon-bar { background-color: #cccccc;}.navbar-custom .navbar-collapse,.navbar-custom .navbar-form { border-color: #ffc002;}.navbar-custom .navbar-nav > .dropdown > a:hover .caret,.navbar-custom .navbar-nav > .dropdown > a:focus .caret { border-top-color: #ffffff; border-bottom-color: #ffffff;}.navbar-custom .navbar-nav > .open > a,.navbar-custom .navbar-nav > .open > a:hover,.navbar-custom .navbar-nav > .open > a:focus { background-color: #ffc105; color: #ffffff;}.navbar-custom .navbar-nav > .open > a .caret,.navbar-custom .navbar-nav > .open > a:hover .caret,.navbar-custom .navbar-nav > .open > a:focus .caret { border-top-color: #ffffff; border-bottom-color: #ffffff;}.navbar-custom .navbar-nav > .dropdown > a .caret { border-top-color: #ffffff; border-bottom-color: #ffffff;}@media (max-width: 767) { .navbar-custom .navbar-nav .open .dropdown-menu > li > a {   color: #ffffff; } .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {   color: #ffffff;   background-color: transparent; } .navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {   color: #ffffff;   background-color: #ffc105; } .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {   color: #cccccc;   background-color: transparent; }}.navbar-custom .navbar-link { color: #ffffff;}.navbar-custom .navbar-link:hover { color: #ffffff;}
.dtPopular,
.dtTechnical{ background:#191818; color:#ffffff;}

/* RADIO BUTTON STYLE */
.option-input {margin:0;border:none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; position: relative; top: 0px; width: 20px; height: 20px; -webkit-transition: all 0.15s ease-out 0; -moz-transition: all 0.15s ease-out 0; transition: all 0.15s ease-out 0; background: #FFFF99; border: none; color: #000000; cursor: pointer; display: inline-block; outline: none; position: relative; margin-right: 0.5rem; z-index: 1000;}
.option-input:hover { background: #9faab7; }
.option-input:checked { background: #eab22d; }
.option-input:checked::before {width: 20px;height: 20px;position: absolute;font-family: 'Glyphicons Halflings'; content: "\e013";display: inline-block;font-size: 15px;text-align: center;line-height: 20px;}
.option-input:checked::after {-webkit-animation: click-wave 0.65s;  -moz-animation: click-wave 0.65s;  animation: click-wave 0.65s;  background: #eab22d;  content: '';  display: block;  position: relative;  z-index: 100;}
.option-input.checkbox { border-radius: 5%; margin: 0 3px 0 10px; }.option-input.checkbox::after { border-radius: 5%; }
.option-input.radio { border-radius: 50%; margin: 0 3px 0 10px; }.option-input.radio::after { border-radius: 50%; }


.icon-round{ background: #363535;color: #ffc105;padding: 5px 6px;border-radius: 50%;font-size: 14px;}
.icon-round:hover{background: #ffc105;color: #131211;}
.active .icon-round{background: #ffc105;}

/* CHECK BOX STYLE */
/* 
input[type="checkbox"] {
    opacity:0.2;
	display:none !important;
}
input[type="checkbox"] + label {
    cursor: pointer;
}
input[type="checkbox"] + label:after {
    display:inline-block;
    content:"✓";
    font-size:10px;
    line-height:25px;
    text-align:center;
    color:#ccc;
    background: #ccc;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin: 0 10px;
    border-radius:50%;  
    border:1px solid grey;
}
input[type="checkbox"] + label:hover:after {
    background: #aaa;    
}
input[type="checkbox"]:checked + label:after {
    color:#ffffff;
    background: #d9a300;
    box-shadow:0 0 8px #ffc926;
    border-color:white;
} 
*/

/* RADIO BUTTON STYLE */
/* input[type="radio"] {
    opacity:0.2;
	display:none !important;
}
input[type="radio"] + label {
    cursor: pointer;
}
input[type="radio"] + label:after {
    display:inline-block;
    content:"✓";
    font-size:10px;
    line-height:25px;
    text-align:center;
    color:#ccc;
    background: #ccc;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin: 0 10px;
    border-radius:50%;  
    border:1px solid grey;
}
input[type="radio"] + label:hover:after {
    background: #aaa;    
}
input[type="radio"]:checked + label:after {
    color:#ffffff;
    background: #d9a300;
    box-shadow:0 0 8px #ffc926;
    border-color:white;
} */

 
.AddNew{display:block; padding-right: 10px;}
.pages,.AddEdit{display:none;}

/* .dtPopular tr{
 width:80% !important;
}
 */
.datatable-scroll {
 overflow-x: auto;
 overflow-y: visible;
}


/* .dataTables_wrapper {
}
 */ 
 

 
 /* SCROLL BAR STYLE */
 
/* ::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
} */
 
 /* DATA TABLE SCROLL BAR STYLE */
  
/* .dataTables_scrollBody{   
 overflow-y: auto !important;
 overflow-x: hidden !important;
 max-height: 100% !important;
} */
/* .dataTables_scrollBody{
 overflow-y: scroll;
}
.dataTables_scrollBody::-webkit-scrollbar{
direction: ltr;
width: 15px;
background-color: #232323;
} 
.dataTables_scrollBody::::-webkit-scrollbar-track{
border:1px #a28136 solid;
border-radius:1px;
-webkit-box-shadow:0 0 6px #FFFF99 inset;
} 
.dataTables_scrollBody::-webkit-scrollbar-thumb{
background-color:#FFFF99;
-webkit-box-shadow: inset 0 0 4px rgba(255, 255, 0, 0.3);
}
.dataTables_scrollBody::-webkit-scrollbar-thumb:hover{
background-color:#e8af22;
border:1px solid #232323;
}
.dataTables_scrollBody::-webkit-scrollbar-thumb:active{
background-color:#a28136;
border:1px solid #232323;
} */

.container-fluid{
	z-index:103;
	padding-bottom:5%;
}
.x-top-padding{
	padding-top: 50px;
}
.divTop{right:0;top: 50px;position: fixed;z-index:101;}
.divFooter{left:0;bottom: 0px;position: fixed;z-index:102;}
.main-heading{margin-top:8%;}

@media (min-width: 768px){
	.trophy{display:block;position: fixed;
	/* bottom: 0;right: 0; */
	bottom: -15px;right: 0px;
	}
	.trophy2 {display: block; position: fixed;
    bottom: -15px;right: 25px;
}
}


/* .dataTables_scrollBody{
	    max-height: 100% !important;
} */
div.dataTables_filter{
margin-left:0;
text-align:right;
}
/* 
div.dataTables_filter label:before{
  padding:10px 10px 0 0;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	content: "\e003";
} */

.dataTables_scrollBody{   
 overflow-y: auto !important;
 /* overflow-x: auto !important; */
 height: 100% !important;
 max-height: 100% !important;
 width: 100% !important;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td{
	padding: 5px;
}

.jconfirm.jconfirm-supervan .jconfirm-bg {
    background-color: rgba(0, 0, 0, 0.987) !important;
}
.jconfirm.jconfirm-material .jconfirm-bg {
    background-color: rgba(0, 0, 0, 0.867) !important;
}

.form-control.inputfilegroup {
    height: 37px;
    padding: 6px 5px 5px 5px;
    font-size: 13px;
    color: #ffffff;
    background-color:#252216;
    background-image: none;
    border: 1px solid #CACAA2;
    border-radius: 2px;
}
@media (min-width: 768px){
	.text-big{font-size:2em;}
	.text-midium{font-size:1.672em;}
	.btn{min-width:100px; margin-left: 5px;}
}
@media (max-width: 767px){
.navbar-brand{color:#000000;margin-left:unset;}
.hidden-xs {display: block !important;/* text-align: left !important;font-size: 100%; margin-top:2px; width:unset; */}
/* div.dataTables_filter label:before{display:none;} */
}

@media (max-width: 550px){
    .toolbar2{
        font-size:16px !important;
        margin-top: 5px !important;
        position: inherit;
		text-align: left !important;font-size: 100%; margin-top:2px; width:unset;
    }
}

.btn{font-weight: bolder;}
/* .input-sm {font-size: 16px !important;border-radius: 1px !important;} */
.h3.toolbar2{font-size:18px;}

input{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-radius: 0;
}

.text-warning { color: #eeb923; }